<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.ConsoleAppender" name="de.fu_berlin.inf.ag_se.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout" />
	</appender>
	<logger name="de.fu_berlin.inf.ag_se.utils">
		<level value="debug" />
	</logger>
	<logger name="de.fu_berlin.inf.ag_se.widgets.browser">
		<level value="debug" />
	</logger>
    <logger name="de.fu_berlin.inf.ag_se.demoSuits">
    		<level value="debug" />
    	</logger>
	<root>
		<level value="debug" />
		<appender-ref ref="de.fu_berlin.inf.ag_se.ConsoleAppender" />
	</root>
</log4j:configuration>